.theme--modal {
	.modal-dialog {
		.modal-content {
			border: 0px;
			border-radius: 0;

			.modal-header {
				padding: 6.5px 11px;
				border-bottom: 0px;
				background-color: $themeBlack;
				border-radius: 0;

				h4 {
					line-height: 19px;
					font-weight: 400;
				}
			}

			.modal-body {
				padding: 10px 11px;
			}
		}
	}
}

.global-outline-btn {
	width: 88px;
	height: 20px;
	padding: 0;

	&:hover {
		border: 1px solid $themeSecondryDefault;
		color: $themeSecondryDefault;
	}
	
	&:disabled{
		background-color: $primaryBg;
		color: $disaledFont;
		border: 1px solid $primaryBg;
	}
}

.global-btn {
	width: 88px;
	height: 20px;
	padding: 0;
	border: 1px solid $themeSecondryDefault;

	&:hover {
		border: 1px solid $themeSecondryDefault;
		background: $themeBlack;
		color: $themeSeconderyFontColor;
	}
	&:active {
		border: 1px solid $themeSecondryDefault !important;
		background: $themeBlack !important;
		color: $themeSeconderyFontColor !important;
	}

	&:disabled{
		background-color: $primaryBg;
		color: $disaledFont;
		border: 1px solid $primaryBg;
	}
}

.theme--checkbox{
	accent-color: $themeBlack;
	height: 14px;
    width: 14px;
}