.documents-page {
    .nav {
        a {
            color: $themeStaticBlack
        }

        .nav-link.active {
            background-color: $themeColor;
            color: $themeWhiteColor;
        }
    }

    .documents--tabs {
        border-bottom: 0px;
        padding-bottom: 24px;
        border-bottom: 1px solid $themeDefaultColor;

        .nav-item {
            border: 0px;
            flex: none;

            .nav-link {
                border: 0px;
                border-radius: 8px;
            }
        }
    }

    .download--btn {
        background-color: $themeLightBlueColor;
        color: $themeWhiteColor;

        svg {
            width: 16px;
            height: 16px;
        }

        &:active,
        &:focus,
        &:hover {
            background-color: $themeLightBlueColor;
            color: $themeWhiteColor;
        }
    }

    .theme--table-wrap {
        .icon-dropdowns {
            .dropdown {
                .dropdown-toggle {
                    outline: none;

                    &:focus {
                        border-color: none;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        .table-responsive {
            height: 500px;

            .table {
                thead {
                    position: sticky;
                    top: 0;
                    z-index: 1;

                    tr {

                        th {
                            text-transform: uppercase !important;
                            padding: 8px;

                            &:nth-child(1) {
                                width: 50px;
                            }

                            &:nth-child(8) {
                                width: 70px;
                            }

                            &:nth-child(10) {
                                width: 70px;
                            }

                            &:nth-child(11) {
                                width: 80px;
                            }

                            &:last-child {
                                text-align: right !important;
                            }

                            white-space: nowrap;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            text-transform: uppercase !important;

                            padding: 8px;
                        }
                    }
                }
            }

            .dot-status {
                height: 20px;
                width: 20px;
                border-radius: 20px;
                border: 2px solid #000;

                &.error-dot {
                    background: radial-gradient(white, red 9px);
                }

                &.complete-dot {
                    background: radial-gradient(white, green 9px);
                }

                &.pending-dot {
                    background: radial-gradient(white, orange 9px);
                }

            }
        }
    }
}

.docs-modal {
    .row {
        overflow: hidden;
        height: calc(100vh - 78px);
    }
}

.document--form {
    .rjsf {

        .field-object {

            // width: 50%;
            fieldset {
                display: flex;
                flex-wrap: wrap;

                .field-object {
                    width: 100%;
                    display: block;
                }

                .field-string,
                .field-number {
                    width: 25%;
                    padding: 0 8px;
                    margin-bottom: 8px;

                    label {
                        margin-bottom: 5px;
                    }
                }
            }

            div {
                display: inline;
            }
        }

    }
}