.documents-page {
    .nav {
        a {
            color: $themeStaticBlack
        }

        .nav-link.active {
            background-color: $themeColor;
            color: $themeWhiteColor;
        }
    }

    .documents--tabs {
        border-bottom: 0px;
        padding-bottom: 24px;
        border-bottom: 1px solid $themeDefaultColor;

        .nav-item {
            border: 0px;
            flex: none;

            .nav-link {
                border: 0px;
                border-radius: 8px;
            }
        }
    }

    .download--btn {
        background-color: $themeLightBlueColor;
        color: $themeWhiteColor;

        svg {
            width: 16px;
            height: 16px;
        }

        &:active,
        &:focus,
        &:hover {
            background-color: $themeLightBlueColor;
            color: $themeWhiteColor;
        }
    }

    .theme--table-wrap {
        .icon-dropdowns {
            .dropdown {
                .dropdown-toggle {
                    outline: none;

                    &:focus {
                        border-color: none;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        .table-responsive {
            height: 500px;

            .table {
                thead {
                    position: sticky;
                    top: 0;
                    z-index: 1;

                    tr {

                        th {
                            text-transform: uppercase !important;
                            padding: 8px;

                            &:nth-child(1) {
                                width: 100px;
                            }

                            &:nth-child(2) {
                                width: 50px;
                            }

                            &:nth-child(3) {
                                width: 80px;
                            }

                            &:nth-child(4) {
                                width: 100px;
                            }

                            &:nth-child(5) {
                                width: 220px;
                            }

                            &:nth-child(6) {
                                width: 200px;
                            }

                            &:nth-child(7) {
                                width: 200px;
                            }

                            &:nth-child(8) {
                                width: 120px;
                            }

                            &:nth-child(9) {
                                width: 70px;
                            }

                            &:nth-child(10) {
                                width: 120px;
                            }

                            &:nth-child(11) {
                                width: 80px;
                            }

                            &:nth-child(12) {
                                width: 80px;
                            }

                            &:last-child {
                                width: 80px;
                            }

                            white-space: nowrap;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            text-transform: uppercase !important;

                            padding: 8px;
                        }
                    }
                }
            }

            .dot-status {
                height: 20px;
                width: 20px;
                border-radius: 20px;
                border: 2px solid #000;

                &.error-dot {
                    background: radial-gradient(white, red 9px);
                }

                &.complete-dot {
                    background: radial-gradient(white, green 9px);
                }

                &.pending-dot {
                    background: radial-gradient(white, #ffbf00 9px);
                }

            }
        }
    }
}

.docs-modal {
    .row {
        overflow: hidden;
        height: calc(100vh - 78px);
    }
}

.document--form {
    .rjsf {

        .field-object {

            // width: 50%;
            fieldset {
                display: flex;
                flex-wrap: wrap;

                .field-object,
                .field-array {
                    width: 100%;
                    display: block;
                }

                .field-string,
                .field-number {
                    width: 25%;
                    padding: 0 8px;
                    margin-bottom: 8px;

                    label {
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    input {
                        font-size: 14px;
                    }
                }

                legend {
                    font-weight: 600;
                    font-size: 20px;
                    padding: 0 8px;
                    margin-bottom: 0px;
                }

                .field-array {
                    .field-array-of-object {
                        display: flex;
                    }

                    .btn-add {
                        background-color: #4bc3ff;
                        border-radius: 5px;
                        color: #fff;

                        font-size: 14px;
                        border: 0;
                        margin-left: 8px;
                        margin-top: 8px;
                        padding: 4px 8px;
                        text-transform: capitalize !important;

                        &::after {
                            content: "+";
                        }
                    }

                    .array-item-move-up,
                    .array-item-move-down {
                        display: none;
                    }

                    .array-item-toolbox {
                        display: inline;

                        .btn-group {
                            display: inline !important;
                        }
                    }

                    .array-item {
                        display: flex;

                        .field-string,
                        .field-number {
                            width: 100%;
                            padding: 0 8px;
                            margin-bottom: 8px;

                            label {
                                margin-bottom: 5px;
                                font-size: 14px;
                                font-weight: 500;
                            }

                            input {
                                font-size: 14px;
                            }
                        }
                    }

                    .array-item-remove {
                        background-color: #4bc3ff;
                        border-radius: 5px;
                        color: #fff;
                        width: 30px;
                        max-width: 30px;
                        font-size: 14px;
                        border: 0;
                        margin-left: 8px;
                        margin-top: 8px;
                        padding: 4px 8px;
                        text-transform: capitalize !important;

                        &::after {
                            content: "-";
                        }
                    }
                }
            }
        }

        button[type=submit] {
            background-color: #4bc3ff;
            border-radius: 5px;
            color: #fff;
            max-width: 120px;
            width: 100%;
            font-size: 14px;
            border: 0;
            margin-left: 8px;
            margin-top: 8px;
            padding: 4px 8px;
            text-transform: capitalize !important;
        }

    }

    .cancel-button {
        position: absolute;
        bottom: 0;
        left: 135px;
    }
}