.documents-page {
    .table--container {
        .rt-thead {
            .rt-th {
                &:first-child {
                    width: 32px !important;
                }

                &:nth-child(13) {
                    width: 32px !important;
                }
            }
        }

        .rt-tbody {
            .rt-tr-group {
                .rt-tr {
                    .rt-td {
                        &:first-child {
                            width: 32px !important;
                            text-align: center;
                            overflow: visible;
                        }

                        &:nth-child(13) {
                            width: 32px !important;
                        }

                        &:has(.duplicate-status) {
                            background-color: $dangerHighlight;
                        }
                    }
                }
            }
        }

        .pagination-bottom {
            button {
                font-size: $font-10;
            }
        }
    }

    .document--select {
        width: 270px;

        // .css-b62m3t-container,
        // .css-1hb7zxy-IndicatorsContainer {
        //     height: 20px;
        // }

        .css-1fdsijx-ValueContainer {
            padding-top: 0px;
        }

        .css-1hb7zxy-IndicatorsContainer {
            align-items: baseline;

            >div {
                height: 12px;
                width: 12px;
                padding: 0;
            }

            >span {
                display: none;
            }
        }

        .css-b62m3t-container {
            >div:first-of-type {
                border-radius: 2px;
                // height: 20px;
                border: 1px solid $themeOutline;
                min-height: auto !important;
            }
        }

        .css-qbdosj-Input {
            padding: 0;
            margin: 0;
        }

        .css-1fdsijx-ValueContainer {
            height: 100%;
            font-size: $font-10;
        }

        .css-1nmdiq5-menu {
            div {
                padding: 0;
            }
        }
    }

}

.setting--modal {
    width: 100px;
    right: 0;
    margin-top: 5px;

    li {
        height: 24px;
        padding: 0 10px;
        cursor: pointer;
        line-height: 24px;

        &:hover {
            background: $primaryBg;
        }

        &.divider-li {
            width: 100%;
            height: 1px;
            background: $tableOutline;
            padding: 0;
            margin: 4px 0;
            cursor: default;
        }
    }
}

.view--settings--modal {
    .view-setting-list {
        max-height: calc(100vh - 130px);
        overflow-x: auto;

        .setting-li {
            height: 48px;
            border-bottom: 1px solid $themeOutline;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.select--filter--modal {
    .custom-select {
        font-size: $font-10;
        z-index: auto;

        >div:first-of-type {
            min-height: auto !important;
            border-radius: $br-2;
            border-color: $themeOutline !important;
        }

        .css-b62m3t-container,
        .css-1hb7zxy-IndicatorsContainer {
            height: 100%;
        }

        .css-1fdsijx-ValueContainer {
            padding-top: 0px;
        }

        .css-1hb7zxy-IndicatorsContainer {

            >div {
                width: 20px;
                padding: 3px;
            }

            >span {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .css-b62m3t-container {
            >div:first-of-type {
                border-radius: 2px;
                height: 30px;
                border: 1px solid $themeOutline;
                min-height: auto !important;
            }
        }

        .css-qbdosj-Input {
            padding: 0;
            margin: 0;
        }

        .css-1fdsijx-ValueContainer {
            height: 100%;
            font-size: $font-10;
        }
    }
}

.full-screen-modal {

    .loading-height {
        height: calc(100vh - 100px);
    }

    .view--modal--header {
        svg {
            height: 20px;
            width: 20px;
        }

        .divider {
            width: 2px;
            height: 20px;
        }

        &.duplicate-table {
            margin-top: 15px;
            border-top: 1px solid $themeOutline;
            padding-top: 12px;
        }
    }

    .metrics--table {
        tbody {
            tr {
                td {
                    &:first-child {
                        width: 32px;
                    }

                    border-width: 0px 1px 1px 0px;
                    border-style: solid;
                    border-color: $themeOutline;

                }
            }
        }
    }

    .mapped-table {
        thead {
            tr {
                th {
                    &:first-child {
                        width: 32px;
                    }

                    &:nth-last-child(1) {
                        width: 56px;
                    }

                    &:nth-last-child(2) {
                        width: 56px;
                    }

                    &:nth-last-child(3) {
                        width: 45px;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    &.status-field {
                        svg {
                            height: 15px;
                            width: 15px;

                            &.theme-success {
                                color: $themeSuccess;
                            }
                        }
                    }

                    &.disable-point {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }
        }
    }

}

.select--version--modal {
    .dynamic--content-wrapper {
        display: block !important;

        .dynamic--radio-content {
            height: 48px;
            border-bottom: 1px solid $themeOutline;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.document--details {
    .json--file {
        height: 500px;
        overflow: auto;
    }
}