@import "../common/variables";

//  ============> BOX SHADOW'S <============
.modal-shadow {
	box-shadow: $themeModalBoxShadow;
}

//  ============> FONT-COLOR'S <============

.text-color {
	color: $themeFontColor;
}
.text-theme-color {
	color: $themeSeconderyFontColor;
}
.text-theme-default {
	color: $themeSecondryDefault;
}
.text-theme-placeholder {
	color: $inputPlaceholder;
}

//  ============> BACKGROUD COLOR'S <============
.bg-static-black {
	background-color: $themeBlack;
}
.bg-theme {
	background-color: $themeBGcolor;
}
.bg-theme-light-black {
	background-color: $themeSecondryDefault;
}
.bg-primary-light {
	background-color: $primaryBg;
}

.b-theme{
	border: 1px solid $themeOutline;
}
.b-theme-light{
	border: 1px solid $themeSecondryDefault;
}
.br-2{
	border-radius: $br-2;
}
//  ============> FONT-SIZE'S <============

.font-9 {
	font-size: $font-9;
}
.font-10 {
	font-size: $font-10;
}
.font-12 {
	font-size: $font-12;
}
.font-14 {
	font-size: $font-14 !important;
}
.font-16 {
	font-size: $font-16;
}
.font-18 {
	font-size: $font-18;
}
.font-19 {
	font-size: $font-19;
}
.font-20 {
	font-size: $font-20;
}
.font-24 {
	font-size: $font-24;
}
.font-32 {
	font-size: $font-32;
}
