//  ============> COLOR'S <============

$themeBGcolor: #EAEEF1;
$themeBlack: #202325;
$themeFontColor: #252525;
$themeSeconderyFontColor: #E7E8E8;
$themeSecondryDefault: #6A6C6E;
$themeStaticWhite: #ffffff;
$themeDefaultColor: #ccc;
$tableOutline: #2023251F;
$tbodyOutline: #EAEAEA;
$themeOutline: #D3D3D3;
$inputPlaceholder: #858585;
$primaryBg: #F2F2F2;
$disaledFont: #ADADAD;
$dangerHighlight:#FF00001A;
$themeWarning:#DA7F3E;
$tableBgColor:#E5E5E5;
$themeSuccess:#3CA83A;
$highlightWordPdf: rgb(38, 132, 255, 0.3);

//  ============> FONT-SIZE'S <============
$font-9: 9px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-19: 19px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;

//  ============> BOX-SHADOW <============

$themeBoxShadow:  1px 4px 8px 0px #0000001F;
$themeModalBoxShadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2);

$br-2: 2px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;